@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    font-family: 'Titillium Web', monospace;
}

.navbar .navbar-brand img {
    max-width: 25px;
}

.navbar .navbar-brand {
    margin-right: 50px;
}

.tophead nav {
    background-color: #271A1A !important;
    height: 60px;
}

.tophead nav a {
    color: #ffff !important;
    font-family: "Yetimology", monospace;
}

.btn-white-border {
    border: solid 3px #af8787;
    border-radius: 8px;
    background-color: transparent;
}

/* #pills-tab button{
    color: #af8787;
    background-color: #271A1A; 
}

#pills-tab button:active{
    color: #af8787 !important;
    background-color: #1a1111 !important;
    border: solid 2px #765c5c !important; 
} */

.btn-grad-color {
    border-radius: 8px;
    background-color: #ff4454;
    border: none;
    font-size: 18px;
}

.btn-white-border:hover {
    box-shadow: 0px 0px 30px #ff4454;
}

.btn-grad-color:hover {
    box-shadow: 0px 0px 30px #ff4454;
}

.tophead .navbar-collapse {
    flex-grow: 0;
}

.tophead .navbar .container-fluid {
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: #14272E;
    border-top: 1px solid #00BBFA;
    border-bottom: 1px solid #00BBFA;
    height: 25px;
}

.banner a,
h1 {
    color: #00BBFA;
    text-decoration: none;
    font-size: 15px;
    font-family: "Yetimology", monospace;
    margin: 0px;
    line-height: 1.5;
}

main {
    background-color: #140e0e;
}

h2 {
    text-align: center;
    color: #fff;
}

section .table-value,
p {
    color: #AE8587;
}

footer .footer-menu a {
    color: #AE8587;
    text-decoration: none;
}

section h3,
button {
    color: #ffff;
    text-align: center;
    font-size: 20px;
}

section .container {
    border: solid 4px #472d2d;
    border-radius: 8px;
    width: 40%;
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #1a1111;
}

.exchange .tab-content .col-md-5,
.col-md-2 {
    align-items: center;
    justify-content: center;
}

#pills-tabContent .row .send,
.receive {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    border-radius: 8px;
    border: solid 2px #6b4f4f;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    background-color: #2b1b1c;
}

#pills-tabContent .modal .modal-header {
    background-color: #181010;
    border-bottom: 0px;
}

#pills-tabContent .modal .modal-body {
    background-color: #181010;
    padding-top: 0px;
}

#pills-tabContent .modal .modal-body h3 {
    font-size: 40px;
    margin-bottom: 20px;
}


#pills-tabContent .modal .modal-body input {
    width: 30%;
    height: 50px;
}

#pills-tabContent .modal .modal-body .crypto-list ul {
    list-style-type: none;
    padding-left: 0px;
}

#pills-tabContent .modal .modal-body .crypto-list ul li img {
    max-width: 80px;
}

#pills-tabContent .modal .modal-body .crypto-list ul li {
    width: 150px;
    height: auto;
    margin-left: 30px;
    margin-top: 35px;
    padding: 10px;
    border-radius: 8px;
}

#pills-tabContent .modal .modal-body .crypto-list ul li:hover {
    background-color: #6b4f4f;
}

#pills-tabContent .modal .modal-body .crypto-list ul li p {
    text-align: center;
    margin-bottom: 2px;
    font-weight: 700;
}

#pills-tabContent .modal .modal-body .crypto-list ul li span {
    border: solid 1px #af8787;
    border-radius: 5px;
    color: #ffff;
    padding: 0px 5px 0px 5px;

}

#pills-tabContent .modal .modal-body .crypto-list ul li h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#pills-tabContent .row button {
    background-color: transparent;
    border: 0px;
}

#pills-tabContent .row i {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #AE8587;
}

table i {
    color: #AE8587;
    font-size: 1.5rem;
}

#pills-tabContent img {
    max-width: 75%;
    margin-bottom: 15px;
}

#pills-tabContent .receiving-address input {
    background-color: #2b1b1c;
    border: solid 3px #6b4f4f;
}

#pills-tabContent .col-md-5 input {
    background-color: #2b1b1c;
    border: solid 3px #6b4f4f;
    width: 90%;
}

::-webkit-input-placeholder {
    text-align: center;
    font-weight: bold;
    color: #6b4f4f;
    font-size: 1rem;
}

.recent-shift table tr td .recent-icon {
    max-width: 23px;
}


.recent-shift table tr td {
    padding: 5px;
    font-size: 1.2rem;
    padding-right: 20px;
}

.recent-shift .recent-table .center {
    margin-left: auto;
    margin-right: auto;
}

.value {
    font-size: 1.75rem;
    margin-bottom: 0px;
    color: #ff4454;
    font-weight: 700;
    text-shadow: 2px 2px 50px #ff44545e, -2px -2px 50px #ff44545e;
}

.hours {
    color: #af8787;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
    font-weight: bold;
}

.staking .stake-des {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}

footer {
    background-color: rgb(0, 0, 0);
    /* height: 150px; */
}

footer .footer-menu a {
    font-weight: 100;
    font-size: 15px;
}

footer .copyright p {
    color: #765c5c;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 995px) {
    section .container {
        width: 50%;
    }
}

@media only screen and (max-width: 571px) {
    #pills-tabContent .modal .modal-body .crypto-list ul li{
        width: 100px;
    }
    #pills-tabContent .modal .modal-body .crypto-list ul li img{
        max-width: 50px;
    }
}

@media only screen and (max-width: 571px) {
    #pills-tabContent .modal .modal-body .crypto-list ul li{
        width: 60px;
    }
    #pills-tabContent .modal .modal-body .crypto-list ul li img{
        max-width: 30px;
    }
}

@media only screen and (max-width: 780px) {
    section .container {
        width: 70%;
    }

    #pills-tabContent img {
        max-width: 30%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 564px) {
    section .container {
        width: 100%;
    }
}
